@media (max-width: 425px) {
  .container {
    width: 90%;
    height: auto;
  }

  .imagem {
    width: 80%;
    height: 25rem;
  }

  .imamgem img {
    width: 20rem;
    height: 20rem;
  }

}


@media (max-width: 320px) {
  .container {
    width: 100%;
    height: auto;
  }

  #imgPokemon {
    width: 100%;
  }

  form label {
    font-size: 2.2rem;
  }

  .imagem {
    width: 100%;
    height: 25rem;
  }

  .imamgem img {
    width: 15rem;
    height: 15rem;
  }
}
